@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    width: 100vw;
    background-color: #fede00;
    padding: 30px;
}

.conteiner1 {
    width: 50%;
    height: 80vh;
    color: #000;
    border: 2px solid #000;
}

.header {
    display: flex;
    align-items: center;
}

.header p{
    margin-right: 100px;
    font-size: 1.8rem;
    font-weight: 400;
}

.header ul li{
    display: inline;
    padding: 10px;
    background-color: rgba(187, 184, 184, 0.589);
    border-radius: 20px;
    margin: 10px;
}

.header ul li a {    
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.titulo {
    margin-top: 100px;
}

.subtitulo{
    margin-bottom: 15px;
    font-size: 1.3rem;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
